@import "../colors.scss";
@import "../distances.scss";

/*input[type=text], input[type=email], input[type=password], input[type=number], input[type=datetime], input[type=datetime-local], input[type=date], input[type=time] {*/
.mss-text-box {
    color: $SMOKE_WHITE;
    background-color: transparent;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-color: $BLUE;
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
    padding: $STANDARD_DISTANCE * 4;

    &:focus {
        outline: none;
        border-color: $BLUE_LIGHT;
    }

    &-invalid {
        outline: none;
        border-color: $INVALID;
        padding-left: $STANDARD_DISTANCE * 8;
    }

    &-validation-error {
        color: $INVALID;
        padding-left: $STANDARD_DISTANCE * 4;
    }

    &-icon {
        position: absolute;
        padding-left: $STANDARD_DISTANCE * 3;
        padding-top: $STANDARD_DISTANCE * 2;

        &-invalid {
            color: $INVALID;
        }

        &-valid {
            color: $VALID;
        }
    }

    &-label {
        padding-left: $STANDARD_DISTANCE;
        font-size: 18px;
        font-weight: 500;
    }
}


